<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Antecam</title>
    <style>
        img {
            width: calc(100vw - 20px);
            max-width: 900px;
        }
        div {
            * {
                font-size: 24px;
            }
            .jscolor {
                width: 100px;
            }
        }
	body {
            font-family: sans-serif;
	}
    </style>
</head>
<body>
    <img src="{{ url_for('video_feed') }}">

    <div>
        <button onclick="controlCamera('Down')">⬇️</button>
        <button onclick="controlCamera('Left')">⬅️</button>
        <button onclick="controlCamera('Right')">➡️</button>
        <button onclick="controlCamera('Up')">⬆️</button>
        <input class="jscolor" data-jscolor="{ format: 'hex', value: '#000', required: false, palette: '#F00 #0F0 #00F #00FF5F #000', previewPosition: 'right'}" onChange="color(this)">
        <span id="temperature">Loading...</span>
        <button onclick="window.location.href='/logout';">Logout</button>
    </div>

    <div>
        <h3>Ar condicionado</h3>
        <button onclick="acControl('/ac/on')">ON</button>
        <button onclick="acControl('/ac/off')">OFF</button>
        <button onclick="acControl('/ac/light')">Luz</button>
	<span style="margin-left: 20px">
        	<input type="number" id="acTemperature" placeholder="Temp." min="18" max="30" style="width: 100px;">
        	<button onclick="setACTemperature()">OK</button>
	</span>
	<span style="margin-left: 20px">
        	<input type="number" id="acFanSpeed" placeholder="Vel." min="0" max="2" style="width: 100px">
        	<button onclick="setACFanSpeed()">OK</button>
	</span>
    </div>

    <script>
        function color (e) {
            const color = e.jscolor.toString('hex').replace("#", "")
            fetch("/writeColor/" + color)
        }
        function setCurrentColor() {
            const apiUrl = 'currentColor';
            fetch(apiUrl)
            .then(response => {
                if (!response.ok) {
                        throw new Error(`Network response was not ok, status: ${response.status}`);
                }
                return response.text()
            })
            .then(data => {
                const c = document.getElementsByTagName("input")[0]
                c.jscolor.fromString(data)
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        document.addEventListener('DOMContentLoaded', setCurrentColor)
    </script>

    <script>
        function acControl(route) {
            fetch(route)
                .then(response => {
                    if (!response.ok) {
                        console.error('Error sending AC command');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function setACTemperature() {
            const temp = document.getElementById('acTemperature').value;
            if (temp) {
                acControl(`/ac/temperature/${temp}`);
            }
        }

        function setACFanSpeed() {
            const speed = document.getElementById('acFanSpeed').value;
            if (speed) {
                acControl(`/ac/fan/${speed}`);
            }
        }
    </script>

    <script src="/static/3p/jcolor.min.js"></script>

    <script>
        function controlCamera(direction) {
            fetch('/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'direction=' + direction
            });
        }
    </script>

    <script>
        function fetchTemperature() {
            fetch('/temperature')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('temperature').innerText = `${data}°C`;
                })
                .catch(error => {
                    console.error('Error fetching temperature:', error);
                    document.getElementById('temperature').innerText = 'N/D';
                });
        }
	document.addEventListener('DOMContentLoaded', () => {
            fetchTemperature();
            setInterval(fetchTemperature, 3000);
        });
    </script>
</body>
</html>

