<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Antecam</title>
    <style>
        img {
            width: calc(100vw - 20px);
            max-width: 900px;
        }
        div {
            * {
                font-size: 24px;
            }
            .jscolor {
                width: 100px;
            }
        }
    </style>
</head>
<body>
    <img src="{{ url_for('video_feed') }}">

    <div> 	 	 	
        <button onclick="controlCamera('Down')">⬇️</button>
        <button onclick="controlCamera('Left')">⬅️</button>
        <button onclick="controlCamera('Right')">➡️</button>
        <button onclick="controlCamera('Up')">⬆️</button>
        <input class="jscolor" data-jscolor="{ format: 'hex', value: '#000', required: false, palette: '#F00 #0F0 #00F #00FF5F #000', previewPosition: 'right'}" onChange="color(this)">
        <button onclick="window.location.href='/logout';">
            Logout
        </button>
    </div>

    <script>
        function color (e) {
            const color = e.jscolor.toString('hex').replace("#", "")
            fetch("/writeColor/" + color)
        }
        function setCurrentColor() {
            const apiUrl = 'currentColor';
            fetch(apiUrl)
            .then(response => {
                if (!response.ok) {
                        throw new Error(`Network response was not ok, status: ${response.status}`);
                }
                return response.text()
            })
            .then(data => {
                const c = document.getElementsByTagName("input")[0]
                c.jscolor.fromString(data)
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        document.addEventListener('DOMContentLoaded', setCurrentColor)
    </script>
    <script src="/static/3p/jcolor.min.js"></script>

    <script>
        function controlCamera(direction) {
            fetch('/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'direction=' + direction
            });
        }
    </script>
</body>
</html>
